.gpt3__blog__content{
    display: flex;
}
.gpt3__blog__content-section1{
    flex: 0.75;
    margin-right: 2rem;
}
.gpt3__blog__content-section2{
    flex: 1;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.gpt3__article-header{
    margin-bottom: 2rem;
}
.gpt3__article-header h1{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
}

@media screen and (max-width: 990px){
    .gpt3__blog__content{
        flex-direction: column-reverse;
    }
    .gpt3__blog__content-section2{
        margin-bottom: 2rem;
    }
    .gpt3__blog__content-section1{
        margin-right: 0px;
    }
}
@media screen and (max-width: 700px){
    .gpt3__blog__content{
        flex-direction: column;
    }
    .gpt3__blog__content-section2{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    .gpt3__blog__content-section1{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:500px) {
    .gpt3__article-header h1{
        font-size: 24px;
        line-height: 30px;
    }
}